*.a
*.deps
*.log
*.o
*.status
Makefile
autom4te.cache
config.h
config.status
evcd2vcd
fst2vcd
fstminer
ghwdump
gtkwave
lxt2miner
lxt2vcd
rtlbrowse
shmidcat
stamp-h1
twinwave
vcd2fst
vcd2lxt
vcd2lxt2
vcd2vzt
vzt2vcd
vztminer
xml2stems
