.time-display {
  color: @theme_unfocused_text_color;
  background: @theme_unfocused_base_color;
  border: 1px solid @unfocused_borders;
  padding: 0 8px;
}

.time-display label.label {
  margin-right: 8px;
}

.time-display label.value {
  font-feature-settings: "tnum";
  font-weight: bold;
}

.time-display label.separator {
  color: alpha(@theme_unfocused_text_color, 0.4);
  margin: 0 8px;
}

GwMouseover {
	background: black;
	color: white;
	font-family: monospace;
	border: 1px solid grey;
}

GwMouseover .name {
	font-weight: bold;
}

GwMouseover .flags {
	font-style: italic;
}
